
<div class="container">
    <div class="grid">
        
    @for (productos of listaProducto; track $index){
        <div class="contenedorProducto">

                <button class="btn" type="button" data-bs-toggle="dropdown" id="botonMenu">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/></svg>
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" type="button" (click)="eliminarProducto(productos.idProducto)" >Eliminar</button>
                    <button class="dropdown-item" type="button" (click)="editarProducto(productos.idProducto)" >Editar</button>

                </div>

                <div>
        <img
        src="/img/sylusChibi.png"
        alt="sylus">
        <h5>{{ productos.nombre }}</h5>
        <p>{{ productos.precio }} €</p>

    </div>
        </div>

    }
    </div>
</div>




<!-- EDITAR PRODUCTO FORM -->
     <div class="containerEditar">

        @if(mostrarFormEditar){
    <h3>Editar producto</h3>
    <button type="button" class="btn-close" (click)="cerrarFormEditar()"></button>

  <div class="formGroup">
    <form [formGroup]="editarForm" class="form-group" (ngSubmit)="onSubmitEditar()">
        <p>Vas a editar el producto con el ID: {{producto.idProducto}} </p>

        <div class="inputNombre">
            <label for="nombre">Nombre </label>
            <input type="text" name="nombre" formControlName="nombre">
        </div>
         <small class="form-text text-muted">Introduce el nuevo nombre del producto</small>
 
         
        <div class="inputPrecio">
            <label for="precio">Precio </label>
            <input type="number" name="precio" formControlName="precio">
        </div>
         <small class="form-text text-muted">Introduce el nuevo precio del producto</small>
 
         <div class="inputBtn">
             <button type="submit" class="btn" [disabled]="editarForm.invalid">Editar</button>
         </div>
     </form>
  </div>
}
</div>




<!-- TOAST DE ALERTAS-->

<div class="toastContainer">
    @if (toastVisible == true) {
    <div class="toast show align-items-center"  [ngClass]="toastClase" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
        {{toastMensaje}}
    </div>
    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" (click)="toastVisible = false"></button>
  </div>
</div>
}
</div>
