<div class="containerTitle">
        <h3 class="text-center"> Catalogo de productos</h3>

</div>

<!--  Boton crear producto -->

<div class="containerCrear">
    <button class="btn btnCrear" (click)="redirigirCrear()">
        Crear nuevo producto
    </button>
</div>


<!-- LISTA CONTAINER -->


<div class="containerLista">

    <div class="gridLista">
        
    @for (productos of listaProducto; track $index){
       
        <div class="contenedorProducto">

    <div>
        <img
        src="/img/catalogo.png"
        alt="sylus">
        <h5>{{ productos.nombre }}</h5>
        <p>{{ productos.precio }} €</p>

    </div>

    <div class="containerBotones">
        
            <button class="btn" 
            type="button" 
            (click)="eliminarProducto(productos.idProducto)">
                Eliminar
            </button>
            <button class="btn" 
            type="button" 
            (click)="redirigirEditar(productos.idProducto)">
                Editar
            </button>
    </div>
    </div>

    }
    </div>
</div>

