.container{
    background-color: pink;
    display: grid;
    width: 100%;
}

.listaProducto{
    display: grid;
    justify-items: center;
}

.carousel-inner{
display: grid;
}

#carouselExampleControls{
    width: 40%;
}