<div class="containerTitle text-center my-3">
        <h2 class="fw-bold">Mis Pedidos</h2>
    </div>

<div class="container py-4">
    @if(listaCompra.length === 0){
 <div class="text-center text-muted mt-5">
            <p class="fs-5">No has realizado ninguna compra aún.</p>
        </div>

    }@else{
        @for(compra of listaCompra; track $index){

            <div class="card mb-4  w-100">

               <!--HEADER-->
                <div class="card-header bg-light d-flex justify-content-between aling-items-center border-bottom py-3">
                    <div class="text-uppercase fw-bold">
                        orden: #{{compra.id}}
                    </div>
                    <div class="text-end">
                        Pedido realizado: {{compra.fechaCompra | date:'dd/MM/yyyy'}}
                    </div>
                </div>


               <!--BODY-->
                <div class="card-body">
                    <div class="row aling-items-center">

               <!--COLUMNA PRODUCTOS-->
                        <div class="col-md-9">
                            <div class="productosCompra mb-3 border-bottom">
                                @for(producto of compra.productos; track $index){
                                    <div class="d-flex justify-content-between align-items-center py-2 margin-bottom"> 
                                        <div class="text-dark">{{producto.nombre}}</div>
                                        <div class="text-dark">{{producto.precio | currency: "EUR"}}</div>
                                    </div>
                                }
                            </div>

                            <div class="d-flex justify-content-between align-items-center py-2 margin-bottom"> 
                                        <div class="text-dark fs-4 fw-bold">Total del pedido: </div>
                                        <div class="text-dark fs-4 fw-bold">{{compra.total | currency: "EUR"}}</div>
                                    </div>


                        </div>

                        <!-- COLUMA DE BOTON ELIMINAR -->
                         <div class="col-md-3 d-flex justifiy-content-center align-items-center">
                             <button class="btn btn-danger w-100 fw-bold" (click)="eliminarCompra(compra.id)">
                                Cancelar Pedido
                            </button>
                         </div>
                    </div>

                </div>
    
            </div>
        }
    }

</div>
