<div class="container">
   
    <h3>Registrar nuevo usuario</h3>
    
        <form [formGroup]="validarFormulario" class="form-group" (ngSubmit)="onSubmit()">
        
            <label for="user">Nombre de usuario: </label>
            <input 
                type="text" 
                name="user" 
                formControlName="user"
                />

            <small class="form-text text-muted">Introduce el nombre de usuario</small>  
            
            <label for="correo">Correo electronico: </label>

            <input 
                type="text" 
                name="correo"
                formControlName="correo"
                />
           
                <label for="user">Contraseña: </label>
                <input 
                    type="text" 
                    name="password" 
                    formControlName="password"
                    />
    
                
      
            <div class="botonContainer">       
                <button type="submit" class="btn" [disabled]="validarFormulario.invalid">crear</button>
            </div>
    

            @if(alerta){
                <div class="alert alert-primary" role="alert">
                    Usuario creado correctamente!
                </div>
            }

            
        </form>
    </div>