.logo-header {
  background-color: #FAFAFA; 
}

.logo-img {
  max-height: 120px;     
  width: auto;
  object-fit: contain;
}

.busqueda{
    margin: 5px;
}

.nav-item .nav-link {
  color: rgb(0, 0, 0);
  font-size: medium;
  margin-right: 15px;
}

.nav-item .nav-link:hover {
color:  #d47283
}

.search-pill {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 6px 14px;
  border: 1px solid rgb(239, 184, 192);
  width: 280px;
  margin: 10px;
}

.search-pill:hover {
  border-color: rgb(212, 114, 131);;
}

.search-pill input {
  border: none;
  background: transparent;
  width: 100%;
  padding: 6px;
}

.search-pill button {
  border: none;
  background: none;
  font-size: 18px;
  color: rgb(239, 184, 192);
  cursor: pointer;
}

.search-pill button:hover {
  color: rgb(239, 184, 192);
}

.btn {
background-color: white;
border: 1px solid rgb(212, 114, 131);
color:  rgb(212, 114, 131);
font-size: 18px;
border-radius: 30px;
}

.btn:hover {
  background-color: rgb(212, 114, 131);
  color: white;
}

.btnLogin{
       background-color: rgb(212, 114, 131);
  color: white;
  font-size: 20px;
border-radius: 30px;
  border: 2px solid rgb(255, 255, 255);
}
.btnLogin:hover{
  background-color: white;
  color: rgb(212, 114, 131);
  border: 2px solid rgb(212, 114, 131);
}