<div class="container">
   
<h3>Crear un nuevo producto</h3>

    <form [formGroup]="validarFormulario" class="form-group" (ngSubmit)="onSubmit()">
    
        <label for="nombre">NOMBRE: </label>
        <input type="text" name="nombre" formControlName="nombre">
        <small class="form-text text-muted">Introduce el nombre del producto a añadir</small>  
        
  
        <label for="nombre">PRECIO: </label>
        <input type="number" name="precio" formControlName="precio">
        <small class="form-text text-muted">Introduce el precio del producto a añadir</small>  
        
  
        <div class="botonContainer">       
            <button type="submit" class="btn" [disabled]="validarFormulario.invalid">crear</button>
        </div>

    </form>

    @if(hayError){
        <div class="alert alert-primary" role="alert">
            Ocurrió un error para crear el producto. Intente mas tarde
        </div>
    }

</div>

