<div class="container">
    <h3>Iniciar sesión</h3>

    <form class="form-group">
       <div class="inputUser">
        <label for="user">
            Nombre de usuario
        </label>
        <input type="text" name="user" formControlName="user">
       </div>

       <div class="inputCorreo">
        <label for="correo">
            Correo
        </label>
        <input type="email" name="correo" formControlName="correo">
       </div>

        <div class="inputBtn">
            <button type="submit" class="btn">Acceder</button>
        </div>
            <p><a class="link-opacity-75-hover" href="registro">Registrarme</a></p>

            <p><a class="link-opacity-75-hover" href="#">Acceder con mi cuenta Google</a></p>


       
    </form>
</div>